@media only screen and (max-width: 2561px)
{
    .footer-wrapper .footer-information .footer-information-heading 
    {
        font-size: 40px;
    }

    .footer-wrapper .footer-information .footer-information-para .animation 
    {
        font-size: 18px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
    {
        width: 368px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 378px;
    }
}

@media only screen and (max-width: 1700px)
{
    .footer-wrapper .footer-information .footer-information-heading 
    {
        font-size: 30px;
    }

    .footer-wrapper .footer-information .footer-information-para .animation 
    {
        font-size: 14px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
    {
        width: 280px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 300px;
    }
}

@media only screen and (max-width: 1441px)
{

    .footer-wrapper .footer-information .footer-information-heading 
    {
        font-size: 30px;
    }

    .footer-wrapper .footer-information .footer-information-para .animation 
    {
        font-size: 14px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
    {
        width: 230px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 378px;
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(170px , -130px);
        background-color: var(--second-color);
        border-radius: 50%;
        width: 280px;
        height: 260px;
    }

    .footer-wrapper .footer-contact-form .contact-form .footer-contact-form-feilds 
    {
        width: 45%;
        margin-right: 0;
    }
    .footer-wrapper .footer-contact-form .contact-form .footer-contact-form-feilds-textarea
    {
        width: 95.5%;
    }

    .footer-wrapper .footer-information-img-container .footer-information-img 
    {
        height: 58vw;
    }

    .footer-wrapper .footer-information .footer-information-row 
    {
        margin-left: 50px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3
    {
        width: 300px
    }

    .footer-wrapper .footer-information .footer-line 
    {
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 1025px)
{
    /* Custom CSS */

    h2 
    {
        font-size: 24px;
    }

    h5
    {
        font-size: 14px;
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(40px , -90px);
        background-color: var(--second-color);
        border-radius: 50%;
        width: 208px;
        height: 208px;
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-logo .footer-contact-form-logo-img
    {
        width: 170px;
    }

    .footer-wrapper .footer-contact-form 
    {
        padding-left: 20px;
        padding-bottom: 8px;
        width: 368px;
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-heading-2 
    {
        font-size: 14px;
    }

    .footer-wrapper .footer-information-img-container .footer-information-img 
    {
        height: 73vw;
    }

    .footer-wrapper .footer-information .footer-information-heading 
    {
        font-size: 24px;
    }

    .footer-wrapper .footer-information .footer-information-row 
    {
        margin-left: 22px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1
    {
        padding: 0;
        width: 173px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3
    {
        width: 300px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-2
    {
        width: 152px;
    }

    .footer-wrapper .footer-information 
    {
        margin-left: 7px;
        width: 648px;
    }

    .footer-wrapper .footer-information .footer-line 
    {
        transform: translateX(-9px);
        margin-top: 48px;
    }

    .footer-wrapper .footer-about-us 
    {
        margin-top: 47px;
    }

    .footer-wrapper .footer-about-us .footer-about-us-para 
    {
        font-size: 13px;
        width: 90%;
        margin-left: 17px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content 
    {
        margin-left: 4px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-payment-img-container 
    {
        margin-right: 50px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-payment-img-container img 
    {
        width: 230px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons 
    {
        margin-right: 60px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons .footer-icon 
    {
        padding: .5vw .8vw;
    }

    .footer-wrapper .copy_right h2 
    {
        font-size: 13px;
    }

    .footer-wrapper .copy_right a 
    {
        font-size: 10px;
    }

}
@media only screen and (max-width: 992px)
{
    /* Custom CSS */

    h2 
    {
        font-size: 30px;
        line-height: 40px;
    }

    h3 
    {
        font-size: 20px;
    }    

    .footer-wrapper .footer-information-img-container 
    {
        display: none;
    }

    .footer-wrapper .footer-information-img-container .footer-information-img
    {
        display: none;
    }

    .footer-wrapper .footer-contact-form 
    {
        width: 100%;
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(340px , -90px);
    }

    .footer-wrapper .footer-information
    {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1 
    {
        margin-right: 100px;
    }

    .footer-wrapper .footer-information 
    {
        width: 100%;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-2 
    {
        margin-right: 100px;
    }
}

@media (max-width: 769px) 
{

    /* custom css */

    h1 
    {
        font-size: 40px;
        line-height: 48px;
    }

    p 
    {
        font-size: 14px;
        line-height: 24px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-1 
    {
        margin-right: 30px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-2 
    {
        margin-right: 30px;
    }

    .footer-wrapper .copy_right h2 
    {
        font-size: 9px;
    }

    .footer-wrapper .copy_right a 
    {
        font-size: 8px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons .footer-icon 
    {
        padding: .5vw 1.1vw;
    }
}

@media only screen and (max-width: 575px)
{

    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(177px , -90px);
    }

    .footer-wrapper .footer-about-us .footer-about-us-para 
    {
        transform: translateX(-36px);
    }

    .footer-wrapper .footer-information .footer-information-row 
    {
        margin-left: 42px;
        margin-right: 100px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-2 
    {
        padding: 0;
        margin-top: 30px;
    }

    .footer-wrapper .footer-information .footer-information-row .footer-information-col-3 
    {
        width: 300px;
        padding: 0;
        margin-top: 30px;
    }

    .footer-wrapper .footer-information .footer-line 
    {
        width: 100%;
    }

    .footer-wrapper .footer-about-us .footer-about-us-para 
    {
        width: 141%;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content 
    {
        margin-left: -31px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-payment-img-container,
    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons
    {
        margin-bottom: 20px;
    }

    .footer-wrapper .footer-about-us .footer-bottom-content .footer-icons .footer-icon 
    {
        padding: 1vw 1.3vw;
    }

    .footer-wrapper .copy_right 
    {
       height: auto;
    }

    .footer-wrapper .copy_right h2 
    {
        line-height: 1.2;
        font-size: 9px;
        padding: 10px 0;
    }
    
}
@media only screen and (max-width: 376px)
{
    .footer-wrapper .footer-contact-form .footer-contact-form-logo 
    {
        transform: translate(100px , -90px);
    }

    .footer-wrapper .footer-contact-form .footer-contact-form-heading 
    {
        font-size: 28px;
    }
}